[Desktop Entry]
Name=Hydrogen
Comment=A Mandriva Galaxy inspired decoration

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Giacomo Barazzetti
X-KDE-PluginInfo-Email=giacomosrv@gmail.com
X-KDE-PluginInfo-Name=kwin4_decoration_qml_galaxy
X-KDE-PluginInfo-Version=0.6

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Decoration
X-KWin-Config-TranslationDomain=kwin_clients
Type=Service
